* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: "Jacques Francois", serif;
}

header {
  font-size: 1.25rem;
  font-weight: bold;
  background-color: #e493b3;
  height: 5%;
  width: 100%;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  padding-top: 10px;
}
nav ul li a {
  text-decoration: none;
  color: #ffffff;
}
nav ul li a:hover {
  color: #7a60af;
  text-decoration: underline;
}
nav ul li a:visited {
  color: purple;
}
nav .nav-wrapper {
  width: 100%;
  margin: 0;
  padding: 1rem;
}
nav #toggle, nav label {
  display: none;
}

main h1 {
  color: #8e7ab5;
  text-align: left;
  font-size: 2.25rem;
  font-weight: bolder;
}
main h2 {
  color: #b784b7;
  font-size: 2rem;
  font-weight: bold;
  margin: 20px 0px;
}
main h3 {
  color: #8e7ab5;
  font-size: 1rem;
  font-weight: lighter;
}
main h4 {
  color: #ffffff;
  font-size: 1rem;
  font-weight: lighter;
}
main p {
  color: #eb8d8f;
  font-size: 1rem;
  font-weight: lighter;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: bold;
  background-color: #8e7ab5;
  height: 10vh;
  width: 100%;
  text-align: center;
}

.tituloCentrado {
  text-align: center;
}

button {
  background-color: #e493b3;
  padding: 5px 10px;
  border: #e493b3;
  border-radius: 5px;
  margin-bottom: 5px;
}
button a {
  text-decoration: none;
  color: white;
}
button a:hover {
  color: #7a60af;
}

.inicio {
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 50px;
  background-image: url("../assets/Fondo.png");
  height: 25rem;
  background-position: center center;
  background-size: cover;
}

.destino1 {
  grid-area: destino1;
}

.destino2 {
  grid-area: destino2;
}

.destino3 {
  grid-area: destino3;
}

.destino4 {
  grid-area: destino4;
}

.destino5 {
  grid-area: destino5;
}

.destino6 {
  grid-area: destino6;
}

.nuestrosUltimosViajes {
  display: grid;
  align-items: center;
  width: 100%;
  grid-template-columns: 3, 1fr;
  grid-template-rows: 2, 1fr;
  grid-template-areas: "destino1 destino2 destino3" "destino4 destino5 destino6";
}
.nuestrosUltimosViajes img {
  width: 100%;
  height: 80%;
  aspect-ratio: 1/1;
  object-fit: cover;
  padding: 5%;
}
.nuestrosUltimosViajes img:hover {
  transform: scale(1.1);
  transition: transform 1000ms ease;
}

.opiniones {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.opiniones div p {
  color: #8e7ab5;
  background-color: #d3a9aa;
  padding: 5px;
  border-radius: 5px;
  margin: 10px;
  width: 95%;
}

.quienesSomos {
  height: 60%;
  display: flex;
}
.quienesSomos p {
  width: 90%;
  margin-top: 10px;
}
.quienesSomos img {
  width: 100%;
  margin-top: 50px;
  margin-right: 50px;
  aspect-ratio: 1/1;
}

.persona1 {
  grid-area: persona1;
}

.persona2 {
  grid-area: persona2;
}

.persona3 {
  grid-area: persona3;
}

.persona4 {
  grid-area: persona4;
}

.equipo {
  display: grid;
  padding: 0 20%;
  width: 100%;
  grid-template-columns: 2, 1fr;
  grid-template-rows: 2, 1fr;
  grid-template-areas: "persona1 persona2" "persona3 persona4";
}
.equipo p {
  color: #8e7ab5;
}
.equipo div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 10%;
}
.equipo img {
  width: 70%;
  height: 70%;
}

.viaje {
  display: flex;
  margin-top: 20px;
}
.viaje img {
  width: 90%;
  aspect-ratio: 1/1;
  margin: 2%;
}
.viaje img:hover {
  transform: scale(1.1);
  transition: transform 1000ms ease;
}
.viaje h3 {
  margin: 30px 0px 30px;
}

.mediosDePago {
  display: grid;
  grid-template-columns: 3, 1fr;
  grid-template-areas: "tarjetasDeCreditoYDebito efectivo transferencia";
  text-align: center;
  align-items: center;
  margin: 5%;
}

.tarjetasDeCreditoYDebito {
  grid-area: tarjetasDeCreditoYDebito;
  display: flex;
  flex-direction: column;
}
.tarjetasDeCreditoYDebito img {
  width: 30%;
  height: 30%;
  object-fit: contain;
}
.tarjetasDeCreditoYDebito .fotosTarjetasDeCreditoYDebito, .tarjetasDeCreditoYDebito .bancos, .tarjetasDeCreditoYDebito .transferencia .fotosTransferencia, .transferencia .tarjetasDeCreditoYDebito .fotosTransferencia, .tarjetasDeCreditoYDebito .efectivo .fotosEfectivo, .efectivo .tarjetasDeCreditoYDebito .fotosEfectivo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.efectivo {
  grid-area: efectivo;
  display: flex;
  flex-direction: column;
}
.efectivo img {
  width: 30%;
  height: 30%;
  object-fit: contain;
}
.transferencia {
  grid-area: transferencia;
  display: flex;
  flex-direction: column;
}
.transferencia img {
  width: 30%;
  height: 30%;
  object-fit: contain;
}
.descuento {
  text-align: center;
}

.bancos {
  margin: 5%;
}
.bancos img {
  width: 30%;
  height: 30%;
}

.fondoRosa {
  padding: 40px;
  background-color: #eea5a6;
  margin: 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.fondoVioleta {
  padding: 10px;
  background-color: #b784b7;
  border-radius: 10px;
}
.fondoVioleta h2 {
  color: #ffffff;
  text-align: center;
}
.fondoVioleta img {
  width: 35px;
  height: 35px;
}
.fondoVioleta div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

form {
  color: #ffffff;
  padding: 20px;
}
form li {
  margin-bottom: 25px;
  list-style: none;
}

@media (max-width: 950px) {
  .fondoRosa {
    width: 80%;
    flex-direction: column;
  }
  .fondoVioleta {
    margin: 20px;
  }
}
@media (max-width: 850px) {
  .quienesSomos {
    flex-direction: column;
  }
  .quienesSomos img {
    width: 60%;
    height: 60%;
  }
  .viaje {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 744px) {
  .nuestrosUltimosViajes {
    grid-template-columns: 2, 1fr;
    grid-template-rows: 3, 1fr;
    grid-template-areas: "destino1 destino2" "destino3 destino4" "destino5 destino6";
  }
  header {
    height: 15%;
    font-size: 1rem;
  }
  nav .menu {
    width: 100%;
    height: 0;
    overflow: hidden;
    top: 0;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
  }
  nav label {
    display: inline-flex;
    cursor: pointer;
  }
  nav #toggle:checked ~ .menu {
    height: 100%;
  }
  .inicio {
    align-items: flex-start;
    padding-top: 20px;
  }
  .inicio h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  .opiniones {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 2%;
  }
  .mediosDePago {
    display: flex;
    flex-direction: column;
  }
  footer {
    font-size: 1rem;
  }
}
@media (max-width: 500px) {
  .fondoRosa {
    padding: 20px;
  }
  .fondoVioleta h4 {
    font-size: 0.75rem;
  }
  .fondoVioleta img {
    width: 20px;
    height: 20px;
  }
  .fondoVioleta form {
    font-size: 0.75rem;
  }
}
@media (max-width: 420px) {
  .nuestrosUltimosViajes {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .nuestrosUltimosViajes img {
    width: 60%;
    height: 60%;
    margin: 10px;
  }
  .fondoRosa {
    padding: 10px;
  }
  .fondoVioleta h4 {
    font-size: 0.625rem;
  }
  .fondoVioleta form {
    font-size: 0.625rem;
  }
}
@media (max-width: 325px) {
  header {
    width: 100%;
    height: 5%;
  }
  .inicio {
    padding-top: 10px;
  }
  .inicio h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1rem;
  }
  .quienesSomos {
    flex-direction: column;
  }
  .mediosDePago {
    margin: 5%;
  }
  .mediosDePago img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
  }
  .mediosDePago .fotosTarjetasDeCreditoYDebito, .mediosDePago .efectivo .fotosEfectivo, .efectivo .mediosDePago .fotosEfectivo, .mediosDePago .transferencia .fotosTransferencia, .transferencia .mediosDePago .fotosTransferencia, .mediosDePago .bancos {
    flex-direction: column;
  }
  .mediosDePago .fotosEfectivo {
    flex-direction: column;
  }
  .mediosDePago .fotosTransferencia {
    flex-direction: column;
  }
  .bancos {
    flex-direction: column;
  }
  .bancos img {
    width: 100%;
    object-fit: contain;
    margin: 5%;
  }
  footer {
    font-size: 0.9375rem;
  }
}

/*# sourceMappingURL=style.css.map */
