.mediosDePago{
    display: grid;
    grid-template-columns: (3, 1fr);
    grid-template-areas: 
    "tarjetasDeCreditoYDebito efectivo transferencia";
    text-align: center;
    align-items: center;
    margin: 5%;
}

.tarjetasDeCreditoYDebito{
    grid-area: tarjetasDeCreditoYDebito;
    display: flex;
    flex-direction: column;
    img{
        width: 30%;
        height: 30%;
        object-fit: contain;
    }
    .fotosTarjetasDeCreditoYDebito{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

.efectivo{
    grid-area: efectivo;
    display: flex;
    flex-direction: column;
    img{
        width: 30%;
        height: 30%;
        object-fit: contain;
    }
    .fotosEfectivo{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

.transferencia{
    grid-area: transferencia;
    display: flex;
    flex-direction: column;
    img{
        width: 30%;
        height: 30%;
        object-fit: contain;
    }
    .fotosTransferencia{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

.descuento {
    text-align: center;
}

.bancos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    img {
        width: 30%;
        height: 30%;
    }
    margin: 5%;
}