@media (max-width: 950px){
  .fondoRosa{
    width: 80%;
    flex-direction: column;
    }
  .fondoVioleta{
    margin: 20px;
  }
}

@media (max-width: 850px) {
    .quienesSomos {
      flex-direction: column;
      img {
        width: 60%;
        height: 60%;
      }
    }
    .viaje{
      flex-direction: column;
      align-items: center;
    }
}

@media (max-width: 744px) {
    .nuestrosUltimosViajes {
      grid-template-columns: (2, 1fr);
      grid-template-rows: (3, 1fr);
      grid-template-areas:
          "destino1 destino2"
          "destino3 destino4"
          "destino5 destino6";
  }
    header {
      height: 15%;
      font-size: 1rem;
    }

    nav {
      .menu{
        width: 100%;
        height: 0;
        overflow: hidden;
        top: 0;
      }
      ul {
        flex-direction: column;
        align-items: center;
        padding: 0.5rem;
        }
    label{
      display: inline-flex;
      cursor: pointer;
    }
    #toggle:checked ~ .menu{
      height: 100%;
    }
  }

    .inicio {
      align-items: flex-start;
      padding-top: 20px;
      h1 {
        font-size: 1.5rem;
      }
    }

    h2 {
      font-size: 1.5rem;
    }
    .opiniones {
      width: 100%;
      flex-direction: column;
      justify-content: center;
      padding: 2%;
    }
    .mediosDePago{
      display: flex;
      flex-direction: column;
    }
    footer {
      font-size: 1rem;
    }
  }

@media (max-width: 500px) {
  .fondoRosa{
    padding: 20px;
  }
  .fondoVioleta{
    h4{
      font-size: .75rem;
    }
    img{
      width: 20px;
      height: 20px;
    }
    form{
      font-size: .75rem;
    }
  }
}

@media (max-width: 420px){
  .nuestrosUltimosViajes{
    @include flex(column, center);
    img{
      width: 60%;
      height: 60%;
      margin: 10px;
    }
  }
  .fondoRosa {
    padding: 10px;
  }
  .fondoVioleta{
    h4{
      font-size: .625rem;
    }
    form{
      font-size: .625rem;
    }
  }
}

@media (max-width: 325px) {
    header {
      width: 100%;
      height: 5%;
    }
    .inicio {
      padding-top: 10px;
      h1 {
        font-size: 1.5rem;
      }
    }
    h2 {
      font-size: 1rem;
    }
    .quienesSomos {
      flex-direction: column;
    }
    .mediosDePago{
      margin: 5%;
      img{
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: contain;
      }
      .fotosTarjetasDeCreditoYDebito{
        flex-direction: column;
      }
      .fotosEfectivo{
        flex-direction: column;
      }
      .fotosTransferencia{
        flex-direction: column;
      }
    }
    .bancos{
      flex-direction: column;
      img{
        width: 100%;
        object-fit: contain;
        margin: 5%;
      }
    }
    footer {
      font-size: .9375rem;
    }
}